<p-card header="Branch Management">
  <div class="p-d-flex p-jc-between">
    <button pButton label="Add Branch" icon="pi pi-plus" routerLink="/Add-Branch"></button>
    <br><br>
    <button pButton label="Update Branch" icon="pi pi-refresh" routerLink="/Update-Branch"></button>
    <br><br>
    <button pButton label="Delete Branch" icon="pi pi-trash" routerLink="/Delete-Branch"></button>
    <br><br>
    <button pButton label="Show Branches" icon="pi pi-list" routerLink="/Show-Branch"></button>
  </div>
</p-card>
