<div>
  <label for="bank">Select Bank:</label>
  <select id="bank" [(ngModel)]="selectedBankID" (change)="onBankSelect()">
    <option *ngFor="let bank of banks" [value]="bank.ID">
      {{ bank.Bank_Name }}
    </option>
  </select>
</div>

<p-table [value]="branches">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Branch Name</th>
      <th>Address</th>
      <th>State</th>
      <th>Pincode</th>
      <th>MICR Code</th>
      <th>IFSC Code</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-branch>
    <tr>
      <td>{{ branch.ID }}</td>
      <td>{{ branch.Branch_Name }}</td>
      <td>{{ branch.Address }}</td>
      <td>{{ branch.State }}</td>
      <td>{{ branch.Pincode }}</td>
      <td>{{ branch.MICR_Code }}</td>
      <td>{{ branch.IFSC_Code }}</td>
    </tr>
  </ng-template>
</p-table>
