<div class="p-grid p-align-center">
  <div class="p-d-flex p-jc-between">
    <p-card header="Bank Operations">
      <p-button label="Add Bank" icon="pi pi-plus" routerLink="/Add-Bank"></p-button>
      <br><br>
      <p-button label="Update Bank" icon="pi pi-refresh" routerLink="/Update-Bank"></p-button>
      <br><br>
      <p-button label="Delete Bank" icon="pi pi-trash" routerLink="/Delete-Bank"></p-button>
      <br><br>
      <p-button label="Show Banks" icon="pi pi-list" routerLink="/Show-Bank"></p-button>
    </p-card>
  </div>
</div>
