<div class="branch-add-container">
  <form [formGroup]="branchForm" (ngSubmit)="addBranch()">
    <div class="form-group">
      <label for="id">ID</label>
      <input id="id" formControlName="id" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="branchName">Branch Name</label>
      <input id="branchName" formControlName="branchName" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="address">Address</label>
      <input id="address" formControlName="address" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input id="state" formControlName="state" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="pinCode">Pin Code</label>
      <input id="pinCode" formControlName="pinCode" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="micrCode">MICR Code</label>
      <input id="micrCode" formControlName="micrCode" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="ifscCode">IFSC Code</label>
      <input id="ifscCode" formControlName="ifscCode" type="text" pInputText />
    </div>
    <div class="form-group">
      <label for="bankId">Bank ID</label>
      <input id="bankId" formControlName="bankId" type="number" pInputText />
    </div>
    <button pButton label="Add Branch" type="submit"></button>
  </form>
</div>
